*{
    margin: 0;
    padding: 0;
}
/* ------------------------------------------------------------ INDEX ------------------------------------------------------------------ */
	/*.img{
		width: 626px;
		height: 626px;
		

		float: right;
        

		}*/

	.content{
		width: 563px;
        height: 368px;
        background-image: url(../images/box1.png);
        background-repeat: no-repeat;
        margin: auto;
        margin-top: 10%;
	}
		.content .loginup input[type="email"]{
			margin-top: 90px;
		}

      

		.content .loginup input[type="email"], input[type="password"]{
                margin-left: 75.5px;
                margin-bottom: 20px;
                width: 372px;
                height: 40px;
                font-family: 'Arial';
                font-size: 18px;
                border: solid 1px #D3D3D3;
                border-radius: 5px;
                padding-left: 40px;
            }

            input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
                box-shadow: 2px 2px 2px gray;
            }

            .content .loginup .email{
                background-position: 8px 12px;
                background-image: url(../images/email.png);
                background-repeat: no-repeat;
            }

            .content .loginup .pass{
                background-position: 7px 7px;
                background-image: url(../images/pass.png);
                background-repeat: no-repeat;
            }

            .content .logindown{
                width: 546px;
                height: 108px;
                margin-top: 30px;
                margin-left: 8px;
            } 
            	.content .logindown a{
            		text-decoration: none;
                    font-family: 'Arial';
                    font-size: 16px;
                    color: #D2D2D2;
                    margin-top: 44px;
            	}

                .content .logindown input{
                    width: 84px;
                    height: 46px;
                    background-color: gray;
                    border-radius: 7px;
                    border: none;
                    float: right;
                    margin-top: 30px;
                    margin-right: 25px;
                    font-family: 'Arial';
                    font-size: 18px;
                    color: white;
                }

                .content .logindown .register{
                    float: right;
                    margin-right: 20px;
                }

                .content .logindown .newpass{
                    float: left;
                    margin-left: 70px;
                }
/* --------------------------------------------------------- REGISTER ------------------------------------------------------------- */

.content_reg{
        width: 563px;
        height: 437px;
        background-image: url(../images/box2.png);
        background-repeat: no-repeat;
        margin: auto;
        margin-top: 10%;
    }

    .content_reg img{
        margin-top: -260px;
        margin-left: 90px;
    }

    		.content_reg .loginup_reg input[type="text"]{
    			margin-top: 90px;
    		}

            .content_reg .loginup_reg input[type="text"], input[type="email"] {
                margin-left: 75.5px;
                margin-bottom: 20px;
                width: 372px;
                height: 40px;
                font-family: 'Arial';
                font-size: 18px;
                border: solid 1px #D3D3D3;
                border-radius: 5px;
                padding-left: 40px;
            }

            .content_reg .loginup_reg .nick{
                background-position: 7px 7px;
                background-image: url(../images/nick.png);
                background-repeat: no-repeat;
            }

            .content_reg .loginup_reg .email{
                background-position: 8px 12px;
                background-image: url(../images/email.png);
                background-repeat: no-repeat;
            }

            .content_reg .loginup_reg .pass{
                background-position: 7px 7px;
                background-image: url(../images/pass.png);
                background-repeat: no-repeat;
            }

            .content_reg .logindown_reg{
                width: 546px;
                height: 108px;
                margin-top: 30px;
                margin-left: 110px;
            }

            .content_reg .logindown_log{
                margin-top: -108px;
                float: right;
                margin-right: 35px;

            }

                .content_reg .reg, .btlog{
                    width: 84px;
                    height: 46px;
                    background-color: #B9B9B9;
                    border-radius: 7px;
                    border: none;
                    margin-top: 40px;
                    margin-left: 125px;
                    font-family: 'Arial';
                    font-size: 18px;
                    color: white;
                }

                .content_reg .logindown_reg .register{
                    text-decoration: none;
                    font-family: 'Arial';
                    font-size: 16px;
                    color: #D2D2D2;
                    float: right;
                    margin-top: 44px;
                    margin-right: 20px;
                }

                .content_reg .logindown_reg .newpass{
                    text-decoration: none;
                    font-family: 'Arial';
                    font-size: 16px;
                    color: #D2D2D2;
                    float: left;
                    margin-top: 44px;
                    margin-left: 70px;
                }

                .content_reg .logindown_reg .reg{
                    background-color: gray;
                }
/* --------------------------------------------------------- HOME --------------------------------------------------------- */
    
    .content_home{
        width: 300px;
        height: 450px;
        background-color: white; 
        border:3px double gray;
        border-radius: 5%;
        padding: 5px;
        margin: auto;
        margin-top: 10%;
    }
    h2{
        text-decoration: none;
        font-family: 'Arial';
        font-size: 20px;
        margin-left: 40px;
    }
    h1{
        text-decoration: none;
        font-family: 'Arial';
        font-size: 14px;
        padding-left: 5px;
        
    }
    
    .content_home input[type="text"]{
        width: 250px;
        height: 25px;
        margin-left: 5px;
    } 

    .content_home input[type="submit"]{
        width: 50px;
        height: 30px;
        margin-left: 115;
    }

/* --------------------------------------------------------- Paciente --------------------------------------------------------- */

.table{
        width: 1000px;
        height: 500px;
        margin: auto;
        margin-top: 10%;
    }

    .logout{
        position: absolute;

    }

    .bpac{
        width: 10px;
        height: 10px;
    }